---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!--{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<div class="col-md-9">

<p>
</p><h2>2020</h2>
 
<ol>
<li>
  <a href="">   
    On the Relationship Between KR Approaches for Explainable Planning
  </a>
  <br>
	<b>Stylianos Loukas Vasileiou</b>, William Yeoh and Tran Cao Son
  <br>
  ICAPS eXplainable AI Planning Workshop (XAIP), 2020 
  <br>
  <p><p>
</li>

<li>
  <a href="">   
    Conditional Updates of Logic Programs and its Applications (<i>Poster Presentation</i>)
  </a>
  <br>
	Tran Cao Son, Van Nguyen, <b>Stylianos Loukas Vasileiou</b> and William Yeoh
  <br>
  KR, 2020 
  <br>
  <p><p>
</li>

<li>
  <a href="">   
    Explainable Planning Using Answer Set Programming 
  </a>
  <br>
	Van Nguyen, <b>Stylianos Loukas Vasileiou</b>, Tran Cao Son and William Yeoh
  <br>
  KR, 2020 
  <br>
  <p><p>
</li>

<li>
  <a href="">   
    Conditional Updates of Answer Set Programming and Its Application in Explainable Planning (<i>Extended Abstract </i>)
  </a>
  <br>
	Van Nguyen, <b>Stylianos Loukas Vasileiou</b>, Tran Cao Son and William Yeoh
  <br>
  AAMAS, 2020 
  <br>
  <p><p>
</li>
	
</ol>


<p>
</p><h2>2019</h2>
 
<ol>
<li>
  <a href="https://kcl-planning.github.io/XAIP-Workshops/xaip-2019-proceedings.pdf">   
    A Preliminary Logic-based Approach for Explanation Generation
  </a>
  <br>
	<b>Stylianos Loukas Vasileiou</b>, William Yeoh and Tran Cao Son
  <br>
  ICAPS eXplainable AI Planning Workshop (XAIP), 2019
  <br>
  <p><p>
</li>

</ol>

</div>



  


